.home_title{
  font-size: 24px;
  text-align: center;
  margin: 20px 0 10px 0;
}
.home_text{
  width: 400px;
  height: 20px;
  margin-left: 20px;
  padding: 40px 0;
  span{
    margin-left: 25px;
    color:#333;
    font-weight: bold;
  }
}
.home_show_box{
  margin:0 30px;
}
